@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
	font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
	font-style: normal;
}

body {
	background-color: #E5E5E5 !important;
	font-family: 'Roboto', sans-serif !important;
	font-size: 14px;
	font-weight: 400;
}
main {
	padding: 24px 0;
}
header {
	box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
}

.btn:focus {
	box-shadow: none !important;
}

.wrapper {
	margin: 0 2.5%;
}

.main-nav, .sub-nav {
	background-color: #FFFFFF;
}

.main-nav {
	min-height: 64px;
	padding: 16px 0 !important;
	border-bottom: 1px solid #DDE0E6;
	box-sizing: border-box;
}

.main-nav a,
.main-nav a:hover,
.main-nav a:focus,
.main-nav a:visited {
	color: #2D2F33;
}

.pointer-icon {
	margin-right: 23px;
}

.main-nav .nav-item button {
	margin-left: 20px;
}

.sub-nav .nav-link {
	padding: 16px 0 12px;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0.015em;
	color: #6E7178;
}
.sub-nav .nav-link:hover {
	color: #6E7178;
}

.sub-nav .nav-link.active {
	padding-bottom: 9px;
	color: #2375E1;
}

.sub-nav .nav-item {
	margin-right: 16px;
}
.sub-nav .nav-item:last-child {
	margin-right: 0;
}

.sub-nav .nav-item .item-img {
	margin-right: 8px;
}

.sub-nav .nav-item.active {
	border-bottom: 3px solid #2375E1;
}


.map-card iframe {
	width: 100%;
	height: 404px;
}

.card {
	margin-bottom: 24px;
	border: 1px solid #DDE0E6 !important;
	border-radius: 0 !important;
}

.card-body {
	padding: 16px !important;
}

.card-body .card-title {
	margin-bottom: 16px;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0.005em;
	text-align: left;
}

.card-text {
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0.005em;
	text-align: left;
}
.card-img {
	border-radius: 0 !important;
}

.posts-list {
	padding: 0;
	margin: 0;
}


.user-info {
	min-height: 352px;
}

.user-bar {
	width: 352px !important;
	max-width: 352px !important;
	height: 100px;
}
